input {
    font-size: 15px;
    color: #575757;
}

td {
    vertical-align: bottom;
    font-size: 18px;
}

.adjusted-amount {
    text-align: left;
    font-weight: 600;
}

.amount-input {
    width: 50px;
}