input {
    font-size: 15px;
    color: #575757;
}

td {
    vertical-align: middle;
    font-size: 18px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.adjusted-amount {
    text-align: right;
    font-weight: 600;
}

.adjusted-unit {
    text-align: left;
    font-weight: 600;
}

.amount-input {
    text-align: right;
    width: 50px;
}